<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{home.html}">
<head>
    <title>User</title>
    <link rel="stylesheet" th:href="@{/css/page/homeproduct.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<!--User Page-->
<div layout:fragment="user">
    <div class="container mt-md-5">
        <div class="row">
            <div class="account">
                <h3 class="text-center">Your Account</h3>
            </div>
            <div class="col-md-3 user-view-col">
                <div class="user-account">
                    <h5 class="mb-md-4">User Account</h5>
                    <div class="avatar mb-md-3">
                        <img src="/image/Avatar.jpg" alt="..."/>
                    </div>
                    <div class="list mb-md-3">
                        <a href="#">List of Addresses</a>
                    </div>
                    <div class="list mb-md-3">
                        <a href="#">List of Orders</a>
                    </div>
                    <div class="log-out">
                        <a href="#">Log Out</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9 user-detail-col">
                <div class="account-detail">
                    <h5>Account Detail</h5>
                </div>
                <div class="account-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Wait for confirmation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Confirmed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Preparing goods</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Delivering</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Complete</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Canceled</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Returns</a>
                        </li>
                    </ul>
                </div>
                <div class="user-detail mt-md-4">
                    <table class="table table-dark table-hover" style="border: 1px solid gray">
                        <thead>
                        <tr>
                            <th scope="col">
                                Image
                            </th>
                            <th scope="col">
                                Name
                            </th>
                            <th scope="col">
                                <div class="text-center">
                                    Quantity
                                </div>
                            </th>
                            <th scope="col">
                                <div style="display: flex; justify-content: center">
                                    Price
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item:${session.cart}">
                                <th scope="row">
                                    <img th:src="@{'/image/products/'+${item.image}}" alt="..." width="70">
                                </th>
                                <td>
                                    <p th:text="${item.itemName}"></p>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <span th:text="${item.quantity}"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <span th:text="*{#numbers.formatInteger(item.totalPrice, 3, 'POINT')}"></span><sup>đ</sup>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td colspan="2"></td>
                                <td style="display: flex; justify-content: center">
                                    <div>
                                        <button type="button" class="btn btn-outline-success">Buy Again</button>
                                        <button type="button" class="btn btn-outline-light">Contact Seller</button>
                                        <button type="button" class="btn btn-outline-light">View Shop Rating</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>