<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{home.html}">
<head>
    <title>User</title>
    <link rel="stylesheet" th:href="@{/css/page/homeproduct.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<!--User Page-->
<div layout:fragment="user">
    <div class="container mt-md-5">
        <div class="row">
            <div class="account">
                <h3 class="text-center">Your Account</h3>
            </div>
            <div class="col-md-3 user-view-col">
                <div class="user-account">
                    <h5 class="mb-md-4">User Account</h5>
                    <div class="avatar mb-md-3">
                        <img src="/image/Avatar.jpg" alt="..."/>
                    </div>
                    <div class="list mb-md-3">
                        <a href="#">List of Addresses</a>
                    </div>
                    <div class="list mb-md-3">
                        <a href="#">List of Orders</a>
                    </div>
                    <div class="log-out">
                        <a href="#">Log Out</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9 user-detail-col">
                <div class="account-detail">
                    <h5>Account Detail</h5>
                </div>
                <div class="account-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Wait for confirmation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Confirmed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Preparing goods</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Delivering</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Complete</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Canceled</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Returns</a>
                        </li>
                    </ul>
                </div>
                <div class="user-detail mt-md-4">
                    <div class="list-purchase" style="display: flex;">
                        <div class="card border-light mb-3" style="max-width: 20rem; margin-right: 20px;" th:each="order:${user.orderList}">
                            <div class="card-header" style="display: flex; justify-content: space-between;">
                                <div style="margin-right: 20px;">
                                    <p style="margin-bottom: 0;">Order Code:</p>
                                    <div class="text-info" th:text="${order.getOrderNumber}"></div>
                                </div>
                                <div>
                                    <p style="margin-bottom: 0;">Created Date:</p>
                                    <div class="text-info" th:text="${#dates.format(order.orderCreatedAt, 'dd-MM-yyyy')}"></div>
                                </div>
                            </div>
                            <div class="card-body" style="display: flex; justify-content: space-between">
                                <h5 class="card-title" style="margin-right: 10px; align-content: center;">Your Purchases</h5>
                                <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="bi bi-box-seam"></i>
                                </button>
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Purchase Detail</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Image</th>
                                                        <th scope="col">Product Name</th>
                                                        <th scope="col">Quantity</th>
                                                        <th scope="col">Price</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="item:${order.orderDetail}">
                                                        <th scope="row">
                                                            <img th:src="@{'/image/products/'+${item.productImage}}" alt="" width="60">
                                                        </th>
                                                        <td>
                                                            <h6 th:text="${item.productName}"></h6>
                                                        </td>
                                                        <td>
                                                            <h6 th:text="${item.quantity}"></h6>
                                                        </td>
                                                        <td>
                                                            <span th:text="*{#numbers.formatInteger(item.amount, 3, 'POINT')}"></span><sup>đ</sup>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>