i.bi-geo-alt-fill {
    font-size: 16px;
}
i.bi-translate {
    font-size: 20px;
}
i.bi-person-circle {
    font-size: 22px;
}
i.bi-bell-fill {
    font-size: 20px;
}
i.bi-cart-fill {
    font-size: 22px;
}
i.bi-moon-stars-fill {
    font-size: 20px;
}
i.bi-brightness-high-fill {
    font-size: 20px;
}
i.bi-circle-half {
    font-size: 20px;
}
