<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" th:fragment="homenavbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/main/home">
            <img
                    src="https://t4.ftcdn.net/jpg/03/34/53/51/360_F_334535136_vvbWaKEpsHIMS4dpJUxgXZL6clQX7VGs.jpg"
                    alt="Logo"
                    width="100"
                    height="34"
                    class="d-inline-block align-text-top"
            />
            MyShop</a
        >
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            style="font-size: 16px"
                    ><i class="bi bi-geo-alt-fill"></i>
                        Deliver to
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">China</a></li>
                        <li><a class="dropdown-item" href="#">Japan</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Korea</a>
                        </li>
                        <li><a class="dropdown-item" href="#">USA</a></li>
                        <li><a class="dropdown-item" href="#">Vietnam</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <form id="submit" class="search_box" th:action="@{/main/search}" method="get">
                        <input type="search" placeholder="Search" name="search_bar"/>
                        <span class="bi bi-search" th:onclick="submit()"></span>
                    </form>
                </li>
                <li class="nav-item dropdown">
                    <a
                            id="lang"
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <i class="bi bi-translate"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Tiếng Việt</a></li>
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li>
                            <a class="dropdown-item" href="#">日本語</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">한국어</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Français</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a
                            id="bell"
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <i class="bi bi-bell-fill"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#"></a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a
                            id="user"
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <i class="bi bi-person-circle"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" style="color: palevioletred;">
                                Xumin
                            </a>
                        </li>
                        <li>
                            <a
                                    class="dropdown-item"
                                    th:href="@{/main/login}"
                            >Login</a
                            >
                        </li>
                        <li>
                            <a
                                    class="dropdown-item"
                                    th:href="@{/account/purchase}"
                            >My Purchase</a
                            >
                        </li>
                        <li>
                            <a
                                    class="dropdown-item"
                                    th:href="@{/main/logout}"
                            >Logout</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a
                            id="carts"
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <i class="bi bi-cart-fill"></i>
                        <sup>
                            <span id="quantity-item-in-cart" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                    th:text="${session.totalProductQuantity == null ? 0 : session.totalProductQuantity}">
                            </span>
                        </sup>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end my-cart">
                        <li class="cart-view" >
                                <div class="cart-view-title">
                                    <p class="tiny-cart-title text-center">Your Cart</p>
                                </div>
                                <div class="text-center" th:if="${session.cart==null}">
                                    <p>Cart is empty!</p>
                                </div>
                                <div id="items" th:unless="${session.cart==null}">
                                    <div class="cart-view-scroll" th:each="item:${session.cart}">
                                        <table class="table-clone">
                                            <tbody class="table-body-clone">
                                            <tr class="mini-cart-hidden">
                                                <td class="mini-cart-left">
                                                    <img th:src="@{'/image/products/'+${item.image}}" alt="...">
                                                </td>
                                                <td class="mini-cart-right">
                                                    <div class="mini-cart-title">
                                                        <p th:text="${item.itemName}"></p>
                                                    </div>
                                                    <div class="mini-cart-detail">
                                                        <span class="mini-cart-quantity" th:text="${item.quantity}"></span>
                                                        <span th:text="*{#numbers.formatInteger(item.totalPrice, 3, 'POINT')}"></span><sup>đ</sup>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            <div class="go-to-cart-btn">
                                <a class="go-to-cart-way" th:href="@{/main/orders}">Go to your cart</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            id="icon"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <i class="bi bi-moon-stars-fill"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="javascript:void(0)"
                                    onclick="getTheme('light')"
                                    theme-value="light"
                            >
                                <i class="bi bi-brightness-high-fill me-2"></i>Light
                            </a>
                        </li>
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="javascript:void(0)"
                                    onclick="getTheme('dark')"
                                    theme-value="dark"
                            >
                                <i class="bi bi-moon-stars-fill me-2"></i>Dark
                            </a>
                        </li>
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="javascript:void(0)"
                                    onclick="getTheme('auto')"
                                    theme-value="auto"
                            >
                                <i class="bi bi-circle-half me-2"></i>Auto
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="status" class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            id="weather"
                    >
                        <i class="bi bi-cloud-sun-fill"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="#"
                                    onclick="getWeatherInfo('Beijing')"
                            >Beijing</a
                            >
                        </li>
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="#"
                                    onclick="getWeatherInfo('Tokyo')"
                            >Tokyo</a
                            >
                        </li>
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="#"
                                    onclick="getWeatherInfo('seoul')"
                            >Seoul</a
                            >
                        </li>
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="#"
                                    onclick="getWeatherInfo('New_York')"
                            >New York</a
                            >
                        </li>
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="#"
                                    onclick="getWeatherInfo('Hanoi')"
                            >Hanoi</a
                            >
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>