<!-- Footer -->
<div class="footer" th:fragment="homefooter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="table-display">
                    <table class="footer-table">
                        <tbody>
                        <tr>
                            <td>
                                <h5><a href="#">Buy</a></h5>
                                <ul>
                                    <li><a href="#"> Registration</a></li>
                                    <li><a href="#">Money Back Guarantee</a></li>
                                    <li><a href="#">Bidding & buying help</a></li>
                                    <li><a href="#">Stores</a></li>
                                </ul>
                            </td>
                            <td>
                                <h5><a href="#">Sell</a></h5>
                                <ul>
                                    <li><a href="#">Start selling</a></li>
                                    <li><a href="#">Learn to sell</a></li>
                                    <li><a href="#">Affiliates</a></li>
                                </ul>
                                <h5><a href="#">Tools & apps</a></h5>
                                <ul>
                                    <li><a href="#">Developers</a></li>
                                    <li><a href="#">Security center</a></li>
                                    <li><a href="#">Site map</a></li>
                                </ul>
                            </td>
                            <td>
                                <h5><a href="#">Stay connected</a></h5>
                                <ul>
                                    <li><a href="#">Blogs</a></li>
                                    <li>
                                        <a href="#"
                                        ><i class="bi bi-facebook me-1"></i>Facebook</a
                                        >
                                    </li>
                                    <li>
                                        <a href="#"><i class="bi bi-twitter"></i>Twitter</a>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <h5><a href="#">About eBay</a></h5>
                                <ul>
                                    <li><a href="#">Company info</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Investors</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Government relations</a></li>
                                    <li><a href="#">Advertise with us</a></li>
                                    <li><a href="#">Policies</a></li>
                                    <li>
                                        <a href="">Verified Rights Owner (VeRO) Program</a>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <h5><a href="#">Help & Contact</a></h5>
                                <ul>
                                    <li><a href="#">Seller Information Center</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                                <h5><a href="#">Community</a></h5>
                                <ul>
                                    <li><a href="#">Announcements</a></li>
                                    <li><a href="#">Discussion boards</a></li>
                                    <li><a href="#">Giving Works</a></li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>