/* ----------------Payment---------------- */
.shop-payment-order{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #6c757d;
}
.receiver-info{
    padding-right: 20px;
}
.products-name, .total-product-payment{
    display: flex;
    justify-content: space-between;
}
.total-product-payment span{
    color: #dc3545;
    font-size: 24px;
}
.list-payment-method{
    border: 1px solid #6c757d;
}
.accordion-header{
    display: flex;
    justify-content: space-between;
    padding: 16px 10px 4px 10px;
    text-align: center;
    border-bottom: 1px solid #6c757d;
}
.accordion-header input{
    text-align: start;
}
.complete-order button{
    width: 80%;
}
.item-in-payment{
    display: flex;
}
.quantity-in-payment{
    display: flex;
    margin-left: 8px;
}